/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*CUSTOM CODE*/

html {
  font-family: Helvetica, Arial, sans-serif;
  background: #FFFBF0;
  color: #262626;
  font-family: 'Merriweather', serif;
}

.wrapper {
  width: 840px;
  margin: 0 auto;
}

header {
  margin-top: 72px;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 36px;
  color: #000000;
}

h1 span {
  color: #26A69A;
}

p.desc {
  margin-top: 24px;
  font-size: 16px;
  line-height: 28px;
}

main {
  position: relative;
  width: 100%;
  height: 540px;
  margin: 24px 0;
  border-radius: 8px;
  overflow: hidden;
}

#board {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #FAEFD0;
  opacity: 1;
}

.scene {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 48px;
  text-align: center;
  box-sizing: border-box;
}

.scene a {
  width: auto;
  padding: 12px 18px;
  display: inline-block;
  background: #26A69A;
  color: #FFFFFF;
  font-size: 20px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  transition: .3s all ease-in-out;
}
.scene a:hover {
  background: #117B71;
}
.scene a.btn-disabled {
  display: none;
}
.scene a i {
  padding-right: 6px;
}

.scene .icon {
  margin-bottom: 24px;
}

.scene .icon i {
  height: 120px;
  color: #26A69A;
  font-size: 120px;
}

.scene .icon-alert i {
  color: #A63E26;
}

.scene h2 {
  width: 540px;
  margin-bottom: 24px;
  font-family: 'Lobster', cursive;
  font-size: 36px;
  color: #000000;
  text-align: center;
}

.scene p {
  width: 540px;
  margin: 0 auto 24px;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}

.scene .gallery {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 200px;
  margin-bottom: 24px;
}

.scene .gallery .frame {
  width: 100%;
  height: 100%;
  margin: 0 12px;
  border: 3px solid #26A69A;
  border-radius: 8px;
  box-sizing: border-box;
}

.scene .gallery .frame img {
  width: 100%;
  height: 100%;
}

.scene .gallery .option {
  border: 3px solid #FFFBF0;
  cursor: pointer;
}

.scene .gallery .option-selected {
  border: 3px solid #26A69A;
}

.scene .gallery .option p {
  width: 100%;
  margin: 0;
  padding: 6px;
}

.scene .gallery-v {
  flex-direction: column;
  height: auto;
}

.scene .gallery-v .frame {
  width: 100%;
  margin: 3px 0;
}

.scene textarea {
  width: 80%;
  margin-bottom: 24px;
  padding: 12px;
  background: #FFFFFF;
  color: #262626;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  line-height: 28px;
  border: 3px solid #26A69A;
  border-radius: 8px;
  outline: 0;
}

.heating:after {
  content: ' .';
  color: inherit;
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: black;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 black,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 black,
      .5em 0 0 black;
  }
}

#player {
}

footer {
  margin: 24px 0;
  font-size: 12px;
  color: #888888;
}
